# Plug-ins listed here will be compiled into CoreDNS.
# The order of plugins determines the order they are executed in the DNS pipeline.
# See https://coredns.io/explugins/ for more information.

tls:tls
reload:reload
nsid:nsid
bind:bind
debug:debug
trace:trace
ready:ready
health:health
pprof:pprof
prometheus:metrics
errors:errors
log:log
dnstap:dnstap
local:local
dns64:dns64
cancel:cancel
refused:refused
status:status
rewrite:rewrite
header:header
route53:route53
aliasreplace:aliasreplace
transfer:transfer
template:template
blocklist:blocklist
hosts:hosts
k8s_gateway:k8s_gateway
kubernetes:kubernetes
kubernetes_apex:kubernetes_apex
firewall:firewall
forward:forward
grpc:grpc
erratic:erratic
whoisd:whoisd
chaos:chaos
cache:cache
resolv:resolv
any:any
view:view
file:file
auto:auto
secondary:secondary
loop:loop
fanout:fanout
negative:negative
fallthrough:fallthrough
bogus:bogus
whoami:whoami
on:on
canary:canary
